@model ProdutoListViewModel
@{
    Layout = "_LayoutSecundario";
}
<div class="container">
    <div class="row" style="margin: 0px 0 60px 0">
        <div class="col-6">
            <img width="650" height="650" src="@ViewBag.Selecionado.ImagemUrl" class="img-fluid" alt="">
        </div>
        <div class="col-6">
            <div class="align-middle" style="margin-top: 100px">
                <h2 class="card-title">@ViewBag.Selecionado.Nome</h2>
                <p class="card-text"><h5>@ViewBag.Selecionado.DescricaoDetalhada</h5></p>
                <h1 style="text-align: end" id="n1">@ViewBag.Selecionado.Preco</h1>
            </div>
        </div>
        <div class="col-12">
            <p class="btn align-content-lg-end float-end">
                <a asp-controller="Produto" asp-action="List"
                   class="btn btn-primary car-botao-continuar">Voltar</a>
                <a class="btn btn-primary car-botao-encerrar" id="cartButton" asp-controller="CarrinhoCompra"
                   asp-action="AdicionarItemNoCarrinhoCompra" asp-route-produtoId="@ViewBag.Selecionado.ProdutoId">
                    Adicionar ao carrinho
                </a>
            </p>
        </div>
    </div>
    <h3>Veja Também</h3>
    <div class="row">
        @foreach (var produto in ViewBag.Destaque)
        {
            <div class="col card-div">
                <a asp-controller="Produto" asp-action="Details" asp-route-produtoId="@produto.ProdutoId"
               class="card card-conteudo">
                    <div class="card-div-img">
                        <img class="card-img-top card-conteudo" src="@produto.ImagemUrl" alt="Card image cap">
                    </div>
                    <div class="card-body card-div-info">
                        <div class="card-div-titulo">
                            <b class="card-title float-start card-cor-texto">@produto.Nome</b>
                        </div>
                        <div class="card-div-descricao">
                            <p class="card-text float-start card-descricao">@produto.DescricaoCurta</p>
                        </div>
                        <div class="float-end">
                            <b class="card-text card-cor-texto">@produto.Preco</b>
                        </div>
                    </div>
                </a>
            </div>

        }
    </div>

</div>



