@model ProdutoListViewModel
<div class="container" style="margin-top: 175px">
    <div class="row">
        @foreach (var item in Model.Produtos)
        {
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="card-div">                   
                    <a asp-controller="Produto" 
                        asp-action="Details" 
                        asp-route-produtoId="@Model.ProdutoId"
                        class="card card-conteudo">
                        <div class="card-div-img">
                            <img class="card-img-top card-conteudo" src="@Html.DisplayFor(modelItem => item.ImagemUrl)" alt="Card image cap">
                        </div>

                        <div class="card-body card-div-info">
                            <div class="card-div-titulo">
                                <b class="card-title float-start card-cor-texto">@Html.DisplayFor(modelItem => item.Nome)</b>
                            </div>
                            <div class="card-div-descricao">
                                <p class="card-text float-start card-descricao">@Html.DisplayFor(modelItem => item.DescricaoCurta)</p>
                            </div>
                            <div class="float-end">
                                <b class="card-text card-cor-texto">@Html.DisplayFor(modelItem => item.Preco)</b>
                            </div>
                        </div>
                    </a>

                </div>
            </div>           
        }

    </div>
</div>


