@model Produto

<div class="col card-div">
    <a asp-controller="Produto" asp-action="Details" asp-route-produtoId="@Model.ProdutoId"
       class="card card-conteudo">
        <div class="card-div-img">
            <img class="card-img-top card-conteudo" src="@Html.DisplayFor(modelItem => Model.ImagemUrl)" alt="Card image cap">
        </div>
        <div class="card-body card-div-info">
            <div class="card-div-titulo">
                <b class="card-title float-start card-cor-texto">@Html.DisplayFor(modelItem => Model.Nome)</b>
            </div>
            <div class="card-div-descricao">
                <p class="card-text float-start card-descricao">@Html.DisplayFor(modelItem => Model.DescricaoCurta)</p>
            </div>
            <div class="float-end">
                <b class="card-text card-cor-texto">@Html.DisplayFor(modelItem => Model.Preco)</b>
            </div>
        </div>
    </a>
</div>
