@model IEnumerable<LovelierJoais.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Lista Categorias</h1>
    <p>
        <a asp-action="Create" class="btn btn-secondary" style="margin: 15px 0px;">Criar nova categoria</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoriaNome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Link)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoriaNome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Link)
                    </td>                   
                    <td>
                        <div style="display:flex; justify-content:center; align-items: center">
                            <a style="margin: 2px" asp-action="Edit" asp-route-id="@item.CategoriaId" class="btn btn-primary">
                                <img src="~/images/edit.png" alt="icone editar" width="30" height="30" />
                            </a>
                            <a asp-action="Details" asp-route-id="@item.CategoriaId" Detahes class="btn btn-secondary">
                                <img src="~/images/Details.png" alt="icone detalhes" width="30" height="30" />
                            </a>
                            <a style="margin: 2px" asp-action="Delete" asp-route-id="@item.CategoriaId" class=" btn btn-danger">
                                <img src="~/images/del.png" alt="icone deletar" width="30" height="30" />
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


